* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --font-size-large: 16px;
  --font-size-default: 14px;
  --font-size-small: 12px;
  --font-size-xs: 10px;
  --font-size-h1: 48px;
  --font-size-h2: 40px;
  --font-size-h3: 32px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 18px;
  --font-size-label: 11px;
  --line-height-h1: 56px;
  --line-height-h2: 46px;
  --line-height-h3: 38px;
  --line-height-h4: 32px;
  --line-height-h5: 26px;
  --line-height-h6: 24px;
  --line-height-large: 24px;
  --line-height-default: 20px;
  --line-height-small: 18px;
  --line-height-xs: 14px;
  --paragraph-spacing-large: 12px;
  --paragraph-spacing-default: 11px;
  --paragraph-spacing-small: 10px;
  --paragraph-spacing-xs: 8px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-h1: 34px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
    --font-size-large: 16px;
    --font-size-default: 14px;
    --font-size-small: 12px;
    --font-size-xs: 10px;
    --line-height-h1: 40px;
    --line-height-h2: 38px;
    --line-height-h3: 32px;
    --line-height-h4: 26px;
    --line-height-h5: 24px;
    --line-height-h6: 22px;
  }
}

:root {
  --primary-color: #6750a4;
  --coordinate-primary-color: #6750a4;
  --primary-color-hover: #59478c;
  --primary-color-active: #4b3f70;
  --primary-foreground: #fff;
  --primary-light-color: #e6e6f9;
  --primary-text-color: #171717;
  --secondary-text-color: #666666;
  --tertiary-text-color: #7d7d7d;
  --danger-text-color: #e5484d;
  --success-text-color: #45a557;
  --info-text-color: #0072f5;
  --warning-text-color: #ff990a;
  --danger-text-color: #e5484d;
  --success-text-color: #45a557;
  --info-text-color: #0072f5;
  --warning-text-color: #ff990a;
  --subtitle-color: #8056b2;
  --title-color: #323339;
  --background-color: #0c0f1e;
  --background-secondary-color: #fafafa;
  --background-secondary-color-hover: #3f424f;
  --background-secondary-color-active: #545769;
  --background-color-faded: rgba(12, 15, 30, 0.1);
  --card-background-color: #1d1f36;
  --dashboard-brandkit-subtext: #8f8f8f;
  --link-color: #0062d1;
  --border-color: #dcdfe4;
  --card-border-color: #dcdfe4;
  --heading-background-color: #f7f7f9;
  --accent-color: #f2f2f2;
  --sidebar-active: #f6edff;
  --accent-foreground: white;
  --overlay-background-color: rgba(white, 0.8);
  --modal-background-color: white;
  --popover-background-color: white;
  --popover-border-color: #e0e0e0;
  --positive-color: #398e4a;
  --positive-color-hover: #5ccf6b;
  --positive-light-color: #ebfaeb;
  --negative-color: #da2f35;
  --negative-color-hover: #ff5f5f;
  --negative-light-color: #ffebeb;
  --notice-color: #ff990a;
  --notice-color-hover: #ffcc5c;
  --notice-light-color: #fff4d6;
  --info-color: #763da9;
  --info-color-hover: #9f6fd1;
  --info-light-color: #f9f1fe;
  --neutral-color: #7d7d7d;
  --neutral-color-hover: #a0a0a0;
  --neutral-light-color: #ebebeb;
  --tabs-background-color: #fbf8ff;
  --background-color-hover: #f2f2f2;
  --input-border-color: #efefef;
  --bold-border-color: #a8a8a8;
  --danger-background-color: #fff0f0;
  --warning-background-color: #fff6e6;
  --success-background-color: #effbef;
  --info-background-color: #f0f7ff;
  --disabled-background-color: #c9c9c9;
  --bold-border-color: #a8a8a8;
  --danger-background-color: #fff0f0;
  --warning-background-color: #fff6e6;
  --success-background-color: #effbef;
  --info-background-color: #f0f7ff;
  --disabled-background-color: #c9c9c9;
  --img-filter: invert(0);
  --disabled-btn-color: #c9c9c966;
  --card-backgroud: #ffffff;
}
body[data-theme="dark"] {
  --primary-foreground: #131313;
  --primary-text-color: #ededed;
  --primary-text-color: #ededed;
  --sidebar-active: #242424;
  --border-color: #2e2e2e;
  --coordinate-primary-color: #ffffff;
  --border-color: #2e2e2e;
  --coordinate-primary-color: #ffffff;
  --primary-light-color: #1a1a1a;
  --heading-background-color: #212121;
  --tabs-background-color: #1a1a1a;
  --secondary-text-color: #a1a1a1;
  --background-color-hover: #1a1a1a;
  --secondary-text-color: #a1a1a1;
  --background-color-hover: #1a1a1a;
  --input-border-color: #454545;
  --bold-border-color: #878787;
  --background-secondary-color: #171717;
  --danger-background-color: #2a1314;
  --danger-background-color: #2a1314;
  --warning-background-color: #291800;
  --success-background-color: #0b2212;
  --info-background-color: #0f1c2e;
  --success-background-color: #0b2212;
  --info-background-color: #0f1c2e;
  --disabled-background-color: #454545;
  --img-filter: invert(1);
  --disabled-btn-color: #454545;
  --neutral-light-color: #1f1f1f;
  --neutral-light-color: #1f1f1f;
  --accent-color: #1a1a1a;
  --card-background: linear-gradient(
    118deg,
    #0c0c0c 0%,
    rgba(103, 80, 164, 0.4) 100%
  );
  --warning-text-color: #ff990a;
  --card-background: linear-gradient(
    118deg,
    #0c0c0c 0%,
    rgba(103, 80, 164, 0.4) 100%
  );
  --warning-text-color: #ff990a;
}