.heroSection {
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    position: relative !important;
    background-size: cover;
    padding: 180px 0 100px;
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            from(rgba(22, 163, 74, 0)),
            color-stop(50%, rgba(22, 163, 74, 0.15)),
            to(rgba(22, 163, 74, 0.3)));
    background: linear-gradient(to top,
            rgba(22, 163, 74, 0) 0,
            rgba(22, 163, 74, 0.15) 50%,
            rgba(22, 163, 74, 0.3) 100%);
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            from(rgba(22, 163, 74, 0)),
            color-stop(50%, rgba(227, 122, 134, 0.15)),
            to(rgba(227, 122, 134, 0.3)));
    background: linear-gradient(to top,
            rgba(22, 163, 74, 0) 0,
            rgba(227, 122, 134, 0.15) 50%,
            rgba(227, 122, 134, 0.3) 100%);
}